<div class="search__container">
  <div class="search">
    <h1 style="color: azure" class="p-3">
      <b>Search for your favourite Songs and Artists ! </b>
    </h1>
    <span>
      <form class="form-group col-md-4 d-flex">
        <input
          class="form-control me-sm-3"
          type="search"
          placeholder="what do you want to listen to?......"
        />
        <button class="btn btn-secondary py-0" type="submit">Go</button>
      </form>
    </span>
  </div>

  <h5
    class="song-gen-title text-white"
    style="margin-top: 30px; margin-left: 105px"
  >
    Browse Genre
  </h5>
  <section class="mx-5 d-flex justify-content-center" style="flex-wrap: wrap">
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g1.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">POP</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g2.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">K-POP</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g3.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">MALAY-POP</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g4.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Anime</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g5.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Bollywod</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g6.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Raggae</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g7.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">J-POP</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g8.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Classic</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g9.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Rock</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g10.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Nasyid</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g11.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Instrumental</div>
      </div>
    </div>
    <div class="image_cat m-2" style="width: 200px">
      <a href="">
        <img
          class="rounded img-fluid"
          src="assets\g12.jpg"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </a>
      <div>
        <div class="lead text-white text-center fw-bold pr-5">Metal</div>
      </div>
    </div>
  </section>
</div>
