<div class="hero-area pt-4">
  <div class="tab-content text-black">
    <div
      class="songs-small rounded ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">01</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\1989.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Black Space</div>
          <small>Taylor Swift</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">02</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\image2.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Perfect</div>
          <small>Ed Sheeran</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">03</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\image3.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>BTS</div>
          <small>Dinamite</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">04</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\g1.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Ariana Grande</div>
          <small>7 Rings</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">05</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\g2.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>New Jeans</div>
          <small>Cookies</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">06</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\g3.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Siti Nurhaliza</div>
          <small>Cindai</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>
  </div>
</div>

<h5 class="song-cat-title mx-5 my-3">Trending Music</h5>
<section class="mx-5 d-flex justify-content-center" style="flex-wrap: wrap">
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image4.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Jungkook BTS</div>
      <small class="text-muted m1">3D</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image5.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Love Story</div>
      <small class="text-muted m1">Talor Swift</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image6.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Omoitoke</div>
      <small class="text-muted m1">Centimillimental</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image7.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Silhouette</div>
      <small class="text-muted m1">Kana Boon</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image2.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Lego House</div>
      <small class="text-muted m1">Ed Sheeran</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image3.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Butler</div>
      <small class="text-muted m1">BTS</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\1989.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Black Space</div>
      <small class="text-muted m1">Taylor Swift</small>
    </div>
  </div>
</section>

<h5 class="song-cat-title mx-5 my-3">Explore Music</h5>
<section class="mx-5 d-flex justify-content-center" style="flex-wrap: wrap">
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image4.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Jungkook BTS</div>
      <small class="text-muted m1">3D</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image5.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Love Story</div>
      <small class="text-muted m1">Talor Swift</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image6.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Omoitoke</div>
      <small class="text-muted m1">Centimillimental</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image7.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Silhouette</div>
      <small class="text-muted m1">Kana Boon</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image2.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Lego House</div>
      <small class="text-muted m1">Ed Sheeran</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image3.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Butler</div>
      <small class="text-muted m1">BTS</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\1989.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Black Space</div>
      <small class="text-muted m1">Taylor Swift</small>
    </div>
  </div>
</section>

<footer class="foot p-4 row bg-black text-white">
  <div class="col-3">
    Company
    <ul class="nav flex-column">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>
  </div>
  <div class="col-3">
    Communities
    <ul class="nav flex-column">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>
  </div>
  <div class="col-6">
    Useful links
    <ul class="nav flex-column">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>
  </div>
</footer>
