<div class="hero-area pt-5">
  <div class="tab-content text-black pt-3">
    <div
      class="songs-small rounded ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">01</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\1989.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Black Space</div>
          <small>Taylor Swift</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">02</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\image2.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Perfect</div>
          <small>Ed Sheeran</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">03</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\image3.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>BTS</div>
          <small>Dinamite</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">04</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\g1.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Ariana Grande</div>
          <small>7 Rings</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">05</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\g2.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>New Jeans</div>
          <small>Cookies</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>

    <div
      class="songs-small rounded m-2 ms-4 col-md-3 row bg opacity-75 align-item-center"
    >
      <div class="col-1">06</div>
      <div class="col d-flex">
        <img
          class="rounded m-1"
          src="assets\g3.jpg"
          style="width: 50px; height: 50px; object-fit: cover"
        />
        <div class="ms-2 m-2">
          <div>Siti Nurhaliza</div>
          <small>Cindai</small>
        </div>
      </div>
      <div class="col-2">05:00 <i class="bi bi-play-circle-fill"></i></div>
    </div>
  </div>
</div>

<h5 class="song-cat-title mx-5 my-3">Trending Music</h5>
<section class="mx-5 d-flex justify-content-center" style="flex-wrap: wrap">
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image4.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Jungkook BTS</div>
      <small class="text-muted m1">3D</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image5.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Love Story</div>
      <small class="text-muted m1">Talor Swift</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image6.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Omoitoke</div>
      <small class="text-muted m1">Centimillimental</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image7.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Silhouette</div>
      <small class="text-muted m1">Kana Boon</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g18.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Super Shy</div>
      <small class="text-muted m1">New Jeans</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image2.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Lego House</div>
      <small class="text-muted m1">Ed Sheeran</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\image3.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Butler</div>
      <small class="text-muted m1">BTS</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\1989.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Black Space</div>
      <small class="text-muted m1">Taylor Swift</small>
    </div>
  </div>
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g1.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">7 Rings</div>
      <small class="text-muted m1">Ariana Grande</small>
    </div>
  </div>
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g3.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Aku cinta padamu</div>
      <small class="text-muted m1">Siti Nurhaliza</small>
    </div>
  </div>
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g7.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Orange</div>
      <small class="text-muted m1">7</small>
    </div>
  </div>
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g19.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Kick it</div>
      <small class="text-muted m1">NCT #127</small>
    </div>
  </div>
</section>

<h5 class="song-cat-title mx-5 my-3">Explore Music</h5>
<section class="mx-5 d-flex justify-content-center" style="flex-wrap: wrap">
  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g13.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">KamadoTanjiroNoUta</div>
      <small class="text-muted m1">鬼滅の刃</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g14.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Janam Janam</div>
      <small class="text-muted m1">Arijit Singh</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g15.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Come Together</div>
      <small class="text-muted m1">The Beetle</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g16.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Siap Terluka</div>
      <small class="text-muted m1">Melly Goeslow</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g17.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Sumpah</div>
      <small class="text-muted m1">Aina Abdul</small>
    </div>
  </div>

  <div class="image_cat m-2" style="width: 200px">
    <a href="">
      <img
        class="rounded img-fluid"
        src="assets\g10.jpg"
        style="width: 200px; height: 200px; object-fit: cover"
      />
    </a>
    <div>
      <div class="lead text-black">Setanggi Syurga</div>
      <small class="text-muted m1">Inteam</small>
    </div>
  </div>
</section>
<h5 class="song-cat-title mx-5 my-3"></h5>
<footer class="foot p-4 row bg-black text-white">
  <div class="col-3">
    Company
    <ul class="nav flex-column">
      <li>
        <a class="nav-link active" style="color: blueviolet" href="/about"
          >About</a
        >
      </li>
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://www.spotifyjobs.com/"
          >Jobs</a
        >
      </li>
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://investors.spotify.com/"
          >Investors</a
        >
      </li>
    </ul>
  </div>
  <div class="col-3">
    Communities
    <ul class="nav flex-column">
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://artists.spotify.com/"
          >Artists</a
        >
      </li>
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://developer.spotify.com/"
          >Developers</a
        >
      </li>
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://spotify.design/"
          >Design</a
        >
      </li>
    </ul>
  </div>
  <div class="col-6">
    Useful links
    <ul class="nav flex-column">
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://support.spotify.com/"
          >Support Centre</a
        >
      </li>
      <li>
        <a
          class="nav-link active"
          style="color: blue"
          href="https://www.spotify.com/us/redirect/webplayerlink/"
          >Web Player</a
        >
      </li>
    </ul>
  </div>
  <!--div class="nav">
    <img src="assets\Spotify-Logo.png" alt="logo" width="240" height="72" />
  </div!-->
</footer>
